<div class="jumbotron">
  <div class="container">
    <h1 style="color: white">Welcome to Machinery Direct</h1>
  </div>
  <div class="center" style="float:right; position:relative">
    <%= link_to "Create Product Now!", new_product_path, class:"btn btn-primary" %>
</div>
